/* edit these before turning the project in  */

.topic {
  border: 2px;
}

.topic-title {
  color: white;
}

.topic.content {
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
  display: block;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
