.passwordBoxLabel {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

.passwordBox {
  border-radius: 3px;
  background-color: white;
  border-color: grey;
  color: black;
  font-size: 1.4rem;
}
